*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.huevito{
    display: block;
    height: 400px;
    width: 320px;
    background-color: white;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    box-shadow: 25px 10px 25px 0px rgba(0,0,0,0.27);
}

.yema{
    position: absolute;
    height: 230px;
    width: 230px;
    z-index: 3;
    background: radial-gradient(circle, rgba(232,141,56,1) 0%, rgba(233,196,25,1) 100%);
    border-radius: 50%;
    top: 415px;
    left: 845PX;
    right: 0;
    bottom: 0;
}

h1{
    font-size: 5rem;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 870px;
    padding-top: 800px;
    color: #d3f7f7;
  
}